.landing__button {
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 20px;
    color: white;
    padding: 15px 32px;
    margin: 5px;
    width: 150px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  .page__rightContent{
    padding-top: 60px;
}

h1 { 
  margin: 30px;
}

.landing__p{
  font-size: smaller;
  font-weight: none;
}